 
        body {
            margin: 0;
            padding: 0;
            background-color: black;
        }

        header {
            background-color: white;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        header h2 {
            color: black;
            font-family: 'Rajdhani', sans-serif;
            font-size: 22px;
        }

        .menu-container {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        .menu-list {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            list-style-type: none;
            padding: 0;
            background-color: #f9f9f9;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            opacity: 0;
            transition: opacity 0.3s ease, top 0.3s ease, transform 0.3s ease; /* Transición añadida */
            z-index: 1;
        }

        .menu-list li {
            border-bottom: 1px solid #ccc;
        }

        .menu-list a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #333;
        }

        .menu-list a:hover {
            background-color: #ddd;
        }

        .menu-list.active {
    display: block;
    opacity: 1;
    top: 0; /* Ajusta el valor inicial según tus necesidades */
    transition: opacity 0.3s ease,
    top 0.3s ease; /* Añade la transición para top */
}

        header i {
            cursor: pointer;
            transition: transform 0.3s ease; /* Añadida transición para el botón */
        }

        .menu-list.active ~ .menu-container i {
            transform: rotate(90deg); /* Añadido para rotar el botón cuando el menú está activo */
        }

        main {
            color: white;
            text-align: center;
            font-family: 'Playfair Display', serif;
            font-size: 14px;
        }

        main h3 {
            margin-top: 120px;
        }

        main h6 {
            margin-top: -10px;
        }

        main img {
            width: 30%;
            margin-top: 20px;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f8f8f8;
            text-align: center;
            padding: 10px;
            font-size: 7px;
        }
  